* {
  color: #000080;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  padding: 0.625em;
  font-weight: bold;
  text-align: center;
  border-bottom: 0.1em solid #d3d3d3;
  font-size: 0.875em;
}

header h1 { font-size: 1.25em; }
header h1 span { font-size: 2.25em; }
header h4 { font-size: 1.125em; }

section { padding: 0.625em; }

section .menu {
  width: 35%;
  height: 25em;
}

section .left-list {
  float: left;
  margin: 0 0.5em 0 3em;
}

section .right-list {
  float: right;
  margin: 0 3em 0 0.5em;
}

footer {
  text-align: center;
  font-size: 0.625em;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 0.1em solid #d3d3d3;
}
footer .geico-footer{
  padding: 0 0 0.625em 0;
  border-bottom: 0.1em solid #d3d3d3;
}

li {
  font-size: 0.625em;
  padding: 0.625em 0 0.625em 0;
}

ul li a {
  font-size: 16px;
  color: #800080;
}

a:visited {
  color: #ff0000;
}

/*
Q: What is important to know when linking an external file (like a stylesheet)
   to an HTML file?
A: It's important to know the files relative location and the type of of file
   that is being linked to. i.e a stylesheet.

Q: What tricks did you use to help you with positioning? How hard was it to get
   the site as you wanted it?
A: Some of the options that helped were the use of classes to group items,
   positioning, width, height, top and bottom. It was especially challenging
   to work keep formatting in place as the browser window changed size. Lots
   of strange behavior seems to happen with very small window sizes.

Q: What CSS did you use to modify the element style (like size, color, etc.)
A: Yes, size, color, font-weight. The berkshire site was very minimally styled.

Q: Did you modify the HTML to include classes or ids? If so, which did you
   chose and why? If you didn't, how would you know which one to add to your
   HTML?
A: Classes, used to differentiate between the two unordered lists so they could
   be floated left and right. I also tried adding a second class to both lists
   so I could dry out the code and group similar items. Mostly for practice.

Q: When you compared your site to the actual code base, which do you think had
   cleaner code that followed best practices and why?
A: The actual code base includes all styling within the HTML document. Our
   recreation follows best practices by separating styling using CSS.
*/
